<div class = "pure-u-1-4">
  <div class = "movie-container">
    <div class = "movie-container-poster">
      <%= image_tag(movie.det_poster_url) %>
      <div class = "movie-container-title">
        <%= movie.title %>
      </div>
    </div>
  </div>
</div>