<div class = "movie-list">
  <%= render @movies %>
</div>

<div id="sidebar">
  <div id="sidebar-content">
    My Survey
    <%= form_for @survey do |f| %>

      <div id="picked-movies">
      <!-- javascript will populate this form with hidden input types for each movie id -->
      </div>
      <input type="date" id="datepicker">
      <textarea id="survey-comment" name="survey[info]" placeholder="Anything else you want your friends to know..."></textarea>
      <input type="submit" class="pure-button pure-button-small" id='submit-survey'>
    <% end %>
  </div>
</div>


