<div class="movie-list">
  <h3 class = "movie-survey-header">Select movies to add to your survey</h3>
  <%= render @movies %>
</div>

<div id="movie-preview-container" class="hidden"></div>

<div id="sidebar">
  <div id="sidebar-content">
    <p>My Survey</p>
    <div id="selected-movies">
    </div>
    <%= form_for @survey do |f| %>
      <input type="date" name="survey[first_available_datetime]" id="datepicker" required>
      <textarea id="survey-comment" name="survey[info]" placeholder="Anything else you want your firends to know..." required></textarea>
      <input type="submit" class="pure-button pure-button-small" id='submit-survey'>
    <% end %>
  </div>
</div>


