<div class="movie-list">
  <h3 class = "movie-survey-header">Select movies to add to your survey</h3>
  <%= render @movies %>
</div>

<div id="movie-preview-container">
  <div id="starting-instructions">
    <p>Click the <i class="fa fa-plus-square"></i>button next to the title to add a movie to your survey.</p>
    <p>Click the movie poster to see additional details in this panel.</p>
    <p>Use the <i class="fa fa-bars"></i>button in the nav bar to get a list of movies currently in your survey. You'll also have a chance to trim your final list and add a comment before sending it out to your friends.</p>
  </div>
</div>

<div id="sidebar" class="hidden">
  <div id="sidebar-content">
    <h3 id="sidebar-heading">Your Picks...</h3>
    <div id="selected-movies">
    </div>
    <%= form_for @survey do |f| %>
      <textarea id="survey-comment" name="survey[info]" placeholder="Anything else you want your friends to know..." required></textarea>
      <input type="date" name="survey[first_available_datetime]" id="datepicker" required>
      <input type="submit" class="pure-button pure-button-small" id='submit-survey'>
    <% end %>
  </div>
</div>
