<div class="movie-list">
  <h3>Select movies to add to your survey</h3>
  <%= render @movies %>
</div>

<div id="movie-preview-container"></div>

<div id="sidebar">
  <div id="sidebar-content">
    My Survey
    <div id="picked-movies">
    </div>
    <form action="/surveys" method="post">
      <input type="date" id="datepicker">
      <textarea id="survey-comment" placeholder="Anything else you want your firends to know..."></textarea>
      <input type="submit" class="pure-button pure-button-small" id='submit-survey'>
    </form>
  </div>
</div>