.container {
  max-width: 1024px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
  border-radius: 10px;
  background-color: #EFEFEF;
}

.error {
  margin: 50px 100px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(242, 222, 222);
}

form {
  width: 100px;
}