body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #eae8e0;
}

#my-surveys-button{
  width: 23px;
  margin-top: 4px;
}

#my-surveys-link {
  background-color: white;
  padding: 0px;
}

#login-button{
  width: 70px;
  height: 30px;
  margin-top: 4px;
  line-height: 7px;
  padding-right: 61px;
  margin-right: 5px;
  font-family: 'Open Sans';
}

#logout-button{
  width: 70px;
  height: 30px;
  margin-top: -1px;
  line-height: 7px;
  padding-left: 12px;
  padding-right: 61px;
  margin-right: 5px;
  font-family: 'Open Sans';
}

#logo{
  position: absolute;
  float: left;
  margin-left: 13px;
  width: 34px;
}

#modallogo img {
  width: 52px;
  top: 20px;
  left: 209px;
  position: absolute;
  z-index: -1;
}

#heading {
  margin-left: 35px;
  padding-top: 10px;
}

.container {
  max-width: 1400px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
  border-radius: 10px;
  position: relative;
}

.survey-confirmation-info {
  text-align: left;
  margin: 2em;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  max-width: 75%;
}

.survey-info {
  margin: 1em;
  padding: 1em;
  color: #222;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
}

.error {
  margin: 50px 100px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(242, 222, 222);
}

.pure-menu ul {
  float: right;
}

.pure-menu-heading {
  font-size: 24px;
  margin-top: 1em;
}
