#movie-preview-container {
  float: left;
  margin: 1em;
  margin-left: 1em;
  margin-right: auto;
  padding: 15px;
  padding-top: 0.5em;
  border-radius: 10px;
  background-color: #B1C1C4;
  height: 75%;
  width: 25%;
  text-align: left;
  right: 1em;
  position: fixed;
  z-index: -10;
}

.movie-preview-title {
  padding: 0;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 150%;
}

ul.movie-preview-info {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.movie-preview-info li {
  list-style-type: none;
  display: -moz-inline-box;
  display: inline-block;
  margin-top: 0;
  padding: 5px 30px 0 0;
}

ul.movie-preview-scores {
  margin-top: 3px;
  padding-left: 0;
}

.movie-preview-scores li {
  list-style-type: none;
  display: -moz-inline-box;
  display: inline-block;
  margin-top: 0;
  padding: 5px 30px 5px 0;
}

.movie-preview-synopsis {
  max-height: 65%;
  overflow-y: auto;
  font-size: 14px;
  overflow-x:hidden;
  overflow-y:scroll;
}

.movie-preview-synopsis::-webkit-scrollbar {
  width:5px;
}
.movie-preview-synopsis::-webkit-scrollbar * {
  background:transparent;
}
.movie-preview-synopsis::-webkit-scrollbar-thumb {
  background:#999 !important;
}
