#sidebar {
  border-top-left-radius:.5em;
  border-bottom-left-radius:.5em;
  background-color: #97887B;
  color: white;
  position: fixed;
  height: 85%;
  margin-top: 1em;
  right: 0;
  width: 28%;
  -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 12px rgba(23,69,88,0.5);
}

#sidebar-content {
  display: table;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;

}

#sidebar-heading {
  margin-left: 10px;
}

#survey-comment {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  margin-top: .5em;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 5px #888888;
  border-radius: 5px;
}

#submit-survey {
  margin-top: .5em;
}

#selected-movies {
  height: 65%;
  overflow-y: auto;
  overflow-x:hidden;
  overflow-y:scroll;
}

#selected-movies div {
  font-size: 18px;
}

.remove-movie {
  color: #f9a646;
}

#selected-movies::-webkit-scrollbar {
  width:5px;
}
#selected-movies::-webkit-scrollbar * {
  background:transparent;
}
#selected-movies::-webkit-scrollbar-thumb {
  background:#999 !important;
}

#toggle-sidebar-button {
  margin-top: 0px;
  color: black;
  font-size: 1.5em;
}

#toggle-sidebar-link:hover {
  background-color:#ffffff;
}

#toggle-sidebar-link {
  position: relative;
  background-color:#ffffff;
}