.pure-menu ul {
  padding-top: 20px;
  float: right;
}

.move-list {
  float: left;
}

#sidebar {
  color: white;
  border-top-left-radius:.5em;
  border-bottom-left-radius:.5em;
  position: fixed;
  height: 80%;
  right: 0;
  width: 25%;
  background-color: #34495e;
  -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 12px rgba(23,69,88,0.5);
  background: rgba(52, 73, 94, .7);
}

#sidebar-content {
  display: table;
  margin: 0 auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  height: 100%;
}

#survey-comment {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  margin-top: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#submit-survey {
  margin-top: .5em;
}

#selected-movies {
  height: 70%;
  overflow-y: auto;
}

.remove-movie {
  color: white;
}

#selected-movies{
  overflow-x:hidden;
  overflow-y:scroll;
}
#selected-movies::-webkit-scrollbar {
  width:5px;
}
#selected-movies::-webkit-scrollbar * {
  background:transparent;
}
#selected-movies::-webkit-scrollbar-thumb {
  background:#999 !important;
}

#toggle-sidebar-button {
  font-size: 1.5em;
  margin-right: 20px;
}