.movie-list {
  max-width: 740px;
  text-align: center;
  width: 100%;

}

.movie-box {
  height: 300px;
  display: inline-table;
  margin: 0.5em;

}

.movie-box-poster img {
  max-height: 267px;
  width: 180px;



}

.movie-box-title {
  margin-top: 10px;
}