.movie-list {
  clear: both;
  float: left;
  max-width: 70%;
  text-align: center;
  margin-top: 1em;
  margin-right: 5px;
  margin-left: 10px;
  padding-top: 0.5em;
  background-color: #9ca98c;
  border-radius: 10px;
  position: absolute;
  z-index: -5;
}

.movie-box {
  width: 20%;
  display: inline-table;
  margin: 5px;
  background-color: #dfded4;
  border-radius: 5px;
  padding: 0.75em;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
}
.movie-box-poster img {
  height: 267px;
  width: 180px;
  overflow: hidden;
}

.movie-box-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.selected {
  background-color: red;
}

.collapsed {
  display: none;
}

h3 {
  text-align: center;
  margin: 5px;
  font-size: 24px;
}

@media (max-width: 500px){
  .movie-list {
    max-width: 450px;
  }
  .movie-box {
    display: block;
    clear: both;
    width: 400px;
    height: 100px;
    padding: 5px;
    margin: 5px;
  }
  .movie-box-poster img {
    float: left;
    height: 91px;
    width: 61px;
  }
  .movie-box-title {
    float: left;
    margin: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .movie-box-critics-score {
    position: absolute;
    margin-left: 80px;
    margin-top: 25px;
  }
  .movie-box-mpaa-rating {
    float: left;
  }
  .collapsed {
    display: block;
  }
}

.hidden {
  display: none;
}

.enqueue-movie-button{
  opacity: .4;
  color: black;
}

.enqueue-movie-button:hover{
  opacity: 1;
}

.vote{
  opacity: .4;
  color: black;
}

.vote:hover{
  opacity: 1;
}
