#vote-form {
  background: #9cbc2c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  right: 0;
  position: fixed;
  margin-bottom: 5px
}

#vote-form ul {
  border: none;
  margin-bottom: 15px;
  list-style: none;
  padding-left: 1em;
}

#vote-form ul li {
  border: none;
  margin-bottom: 15px;
  list-style: none;
}

#vote-form legend {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #c0d576;
}

#voter_name_field {
  width: 70%;
}